In [5]:
fruit_list = ['apple','orange','avocado','grape','banana']

In [6]:
if 'grape' in fruit_list:
    print("Yes, grape is in the fruit list")
    
else:
    print("Grape is not in the fruit list")

Yes, grape is in the fruit list

In [3]:
if 'strawberry' in fruit_list:
    print("Strawberry is in the fruit list")
    
elif 'orange' in fruit_list:
    print("Orange is in the fruit list")
    
else:
    print('Both orange and strawberry is in the fruit list')

Orange is in the fruit list

In [4]:
if fruit_list[1] == 'orange':
    print("True")
    
else:
    print('False')

True

In [5]:
if fruit_list[4] == "banana":
    
    print("Yes, banana is at the fourth index")
    print("Replacing banana with strawberry at the fourth index")
    
    fruit_list[4] = "strawberry"
    print(fruit_list)
    
else:
    print('strawberry is not at the fourth list')

Yes, banana is at the fourth index
Replacing banana with strawberry at the fourth index
['apple', 'orange', 'avocado', 'grape', 'strawberry']

In [7]:
car_tuple = ('Honda City','Maruti Brezza','Hyundai Venue','Mahindra Thar')

In [7]:
if 'Honda City' in car_tuple:
    print('Honda City is present in our car tuple')
    
else:
    print('Honda city is not present in our car tuple')

Honda City is present in our car tuple

In [8]:
if "Honda Activa" in car_tuple:
    print('Honda Activa is a car')
    
else:
    print('Honda Activa is not a car')

Honda Activa is not a car

In [9]:
if "Honda city" in car_tuple and "Honda Activa" in car_tuple:
    print('Honda Activa and Honda city both are cars')
    
else:
    print('At least one of Honda city and Honda Activa is not a car')

At least one of Honda city and Honda Activa is not a car

In [9]:
if "Honda City" in car_tuple or "Honda Activa" in car_tuple:
    print('At least one of Honda city and Honda Activa is a car')
    
else:
    print('Neither Honda city nor Honda Activa is a car')

At least one of Honda city and Honda Activa is a car

In [11]:
salary_details = {"James":50000,
                 "Rahul":60000,
                 "Vineeta":65000,
                 "Nitin":70000}

In [12]:
salary_details

{'James': 50000, 'Rahul': 60000, 'Vineeta': 65000, 'Nitin': 70000}

In [13]:
if "Rahul" in salary_details:
    print("We have the salary details for Rahul")
    
else:
    print("We don't have the salary details for Rahul")

We have the salary details for Rahul

In [14]:
if "Kapil" in salary_details:
    print("We have the salary details for Kapil")
    
else:
    print("We don't have the salary details for Kapil")

We don't have the salary details for Kapil

In [15]:
if "Kapil" in salary_details:
    print("We have the salary details for Kapil")
    
else:
    salary_details["Kapil"] = 90000
    print("Kapil's monthly income is %s"%salary_details["Kapil"])

Kapil's monthly income is 90000

In [16]:
salary_details

{'James': 50000,
 'Rahul': 60000,
 'Vineeta': 65000,
 'Nitin': 70000,
 'Kapil': 90000}

In [1]:
details = [['Rahul','Nakul','Aman'],
          [30,40,50],
          [20000,50000,40000]]

details

[['Rahul', 'Nakul', 'Aman'], [30, 40, 50], [20000, 50000, 40000]]

In [3]:
max_sal = max(details[2])

if (details[2][1] == max_sal):
    
    if (details[1][1] > 30):
        print(details[0][1], "has the highest salary and his age is greater than 30")
        
    elif (details[1][1] ==30):
        print(details[0][1],"has the highest salary and he is 30 years old")
        
    else:
        print("Nakul has the highest salary and his age is less than 30")
        
else:
    print("Nakul is not the highest paid employee")

Nakul has the highest salary and his age is greater than 30