In [1]:
type(44)

int

In [2]:
float(44)

44.0

In [3]:
a = 44

In [4]:
type(a)

int

In [5]:
my_float = float(a)

my_float

44.0

In [6]:
type(my_float)

float

In [7]:
type(420.8)

float

In [8]:
int(420.8)

420

In [9]:
b = 55.9

my_int = int(b)

my_int

55

In [10]:
type(b)

float

In [11]:
type(my_int)

int

In [1]:
a = 125.0
b = 39.0

print(int(a))
print(int(b))

125
39

In [2]:
int('12')

12

In [3]:
a = '66'
type(a)

str

In [5]:
my_int = int(a)

my_int

66

In [6]:
type(my_int)

int

In [7]:
num_int = 123
num_str = '456'

print(num_int + num_str)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

In [9]:
num_str = int(num_str)
print("Data type of num_str:",type(num_str))

Data type of num_str: <class 'int'>

In [10]:
sum_value = num_int + num_str

print(sum_value)
print("Data type of sum_value:",type(sum_value))

579
Data type of sum_value: <class 'int'>

In [11]:
value_str = 'five'

value_int = int(value_str)

ValueError: invalid literal for int() with base 10: 'five'

# Integers can be expressed in different base formats
### hexadecimal base:10, binary base:2, octal base:8

In [12]:
str(12)

'12'

In [13]:
my_float = 5524.53

print("John has " + str(my_float) + " points. ")

John has 5524.53 points.

In [14]:
user = "Mike"
lines = 50

print("Congratulations" + user + "! you just wrote " + lines +"lines of code.")

TypeError: can only concatenate str (not "int") to str

In [16]:
user = "Mike"
lines = 50

print("Congratulations " + user + "! you just wrote " + str(lines) +"lines of code.")

Congratulations Mike! you just wrote 50lines of code.

In [1]:
number = input()

plus_ten = number + 10

8

TypeError: can only concatenate str (not "int") to str

In [19]:
type(number)

str

In [2]:
number = int(input())

plus_ten = number + 10

print('If we add 10 to this number, we get ' + plus_ten)

8

TypeError: can only concatenate str (not "int") to str

In [4]:
number = int(input())

plus_ten = number + 10

print('If we add 10 to this number, we get ' + str(plus_ten))

9
If we add 10 to this number, we get 19

In [6]:
number = int(input())

plus_ten = number + 10
plus_twenty = number + 20

print('\nIf we add 10 to this number, we get %s and %s'%(plus_ten,plus_twenty)) 
#string formatting with '%s' - a way of concatenating integers with strings

80

If we add 10 to this number, we get 90 and 100