In [1]:
old_num = "500"

new_num = "10"

remaining_num = old_num - new_num

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [2]:
type(old_num)

str

In [3]:
old_num = "500"

new_num = "10"

remaining_num = int(old_num) - int(new_num)

remaining_num

490

In [5]:
old_code = "80.9"
new_code = "70.1"

total_code = old_code + new_code

total_code

'80.970.1'

In [6]:
old_code = "80.9"
new_code = "70.1"

total_code = float(old_code) + float(new_code)

total_code

151.0

In [7]:
my_float = "70.8"
my_int = "30"

total = float(my_float) + int(my_int)
total

100.8

In [47]:
value_str = "python world"

value_list = list(value_str)
value_list

['p', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd']

In [48]:
print("type of value_str is : ", type(value_str))
print("type of value_list is : ",type(value_list))

type of value_str is :  <class 'str'>
type of value_list is :  <class 'list'>

In [11]:
list(1,2,3,4,5)

TypeError: list expected at most 1 argument, got 5

In [12]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [13]:
my_tuple = ('apple','orange','mango','banana')

my_tuple

('apple', 'orange', 'mango', 'banana')

In [14]:
type(my_tuple)

tuple

In [15]:
my_list = list(my_tuple)

my_list

['apple', 'orange', 'mango', 'banana']

In [16]:
type(my_list)

list

In [17]:
value_str = "python world"

value_tup = tuple(value_str)

value_tup

('p', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd')

In [19]:
print('The type of value_str is:',type(value_str))
print('The type of value_tup is:',type(value_tup))

The type of value_str is: <class 'str'>
The type of value_tup is: <class 'tuple'>

In [20]:
tuple(5000)

TypeError: 'int' object is not iterable

In [21]:
my_list = ['apple','orange','mango','banana']

print(my_list)

['apple', 'orange', 'mango', 'banana']

In [22]:
my_tuple = tuple(my_list)

my_tuple

('apple', 'orange', 'mango', 'banana')

In [23]:
type(my_tuple)

tuple

In [24]:
age_list = [['Jack',25],['Jill',29],["James",32]]

age_tuple = tuple(age_list)

age_tuple

(['Jack', 25], ['Jill', 29], ['James', 32])

In [26]:
age_tuple = tuple(age_list[0])

age_tuple

('Jack', 25)

In [28]:
print('The type of age_list is: ',type(age_list))
print('The type of age_tuple is: ',type(age_tuple))

The type of age_list is:  <class 'list'>
The type of age_tuple is:  <class 'tuple'>

In [29]:
pet_list = [('Dog',1),('Cat',2),('Rat',3),('Goat',4)]

pet_list

[('Dog', 1), ('Cat', 2), ('Rat', 3), ('Goat', 4)]

In [30]:
pet_tuple = tuple(pet_list)

pet_tuple

(('Dog', 1), ('Cat', 2), ('Rat', 3), ('Goat', 4))

In [31]:
age_tuple = ('Lisa',20,
            'Mave',31,
            'Jordan',29,
            'Kelly',40)

In [32]:
age_tuple

('Lisa', 20, 'Mave', 31, 'Jordan', 29, 'Kelly', 40)

In [33]:
dict(age_tuple)

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [34]:
age_tuple = (('Lisa',20),
            ('Mave',31),
            ('Jordan',29),
            ('Kelly',40))

In [35]:
dict(age_tuple)

{'Lisa': 20, 'Mave': 31, 'Jordan': 29, 'Kelly': 40}

In [39]:
age_tuple1 = (('Lisa',20),
            ('Mave',31),
            ('Jordan',29),
            (['Kelly','Missy'],40))

age_tuple1

(('Lisa', 20), ('Mave', 31), ('Jordan', 29), (['Kelly', 'Missy'], 40))

In [40]:
dict(age_tuple1)

TypeError: unhashable type: 'list'

In [42]:
age_tuple2 = (('Lisa',20),
            ('Mave',31),
            ('Jordan',29),
            ('Kelly',['Missy',40]))

age_tuple2

(('Lisa', 20), ('Mave', 31), ('Jordan', 29), ('Kelly', ['Missy', 40]))

In [43]:
dict(age_tuple2)

{'Lisa': 20, 'Mave': 31, 'Jordan': 29, 'Kelly': ['Missy', 40]}

In [44]:
age_list = [['Lisa',20],
            ['Mave',31],
            ['Jordan',29],
            ['Kelly',40]]

age_list

[['Lisa', 20], ['Mave', 31], ['Jordan', 29], ['Kelly', 40]]

In [45]:
age_dict = dict(age_list)

age_dict

{'Lisa': 20, 'Mave': 31, 'Jordan': 29, 'Kelly': 40}

In [46]:
print('The type of age_list is: ',type(age_list))
print('The type of age_dict is: ',type(age_dict))

The type of age_list is:  <class 'list'>
The type of age_dict is:  <class 'dict'>